body {
    background:lightgreen;
    font-family:Georgia, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom:20px;
    background: lightblue;
    border-radius: 10px;
    box-shadow: 5px 8px darkgreen;
}
.assignment img {
    width:200px;
    border : 4px solid #1E90FF;
    margin-right:20px;
    border-radius: 10px;
}
h1{
    color:darkgreen;
    text-align:center;
}

a {
    text-decoration: none;
    color: #1E90FF;
}

.assignment img:hover
{
    border :4px solid navy;
}
.assignment a:hover
{
    color: navy;
}